tags/GVESB_3_3_1_FINAL/build-release/base/GreenV/xmlconfig/wsdl/CreditService.wsdl

<?xml version="1.0" encoding="UTF-8"?>


<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.credit.com/services"
                  xmlns:gv="http://www.greenvulcano.it/greenvulcano"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://www.credit.com/services"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.credit.com/services"
                    xmlns="http://www.w3.org/2001/XMLSchema"
                    xmlns:int="http://www.credit.com/services"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="Query">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="cnumber" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Pay">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="cnumber" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="amount" type="xsd:float"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="QueryResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string"/>
                        <xsd:element name="cnumber" type="xsd:string"/>
                        <xsd:element name="credit" type="xsd:float"/>
                        <xsd:element name="active" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="PayResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="result" type="xsd:boolean"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="PayResponse">
        <wsdl:part element="tns:PayResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="PayRequest">
        <wsdl:part element="tns:Pay" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="QueryResponse">
        <wsdl:part element="tns:QueryResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="QueryRequest">
        <wsdl:part element="tns:Query" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CreditService_Soap">
        <wsdl:operation name="Pay">
            <wsdl:input message="tns:PayRequest" name="PayRequest"></wsdl:input>
            <wsdl:output message="tns:PayResponse" name="PayResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Query">
            <wsdl:input message="tns:QueryRequest" name="QueryRequest"></wsdl:input>
            <wsdl:output message="tns:QueryResponse" name="QueryResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CreditService_Soap" type="tns:CreditService_Soap">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Pay">
            <soap:operation soapAction="CreditService/Pay" style="document"/>
            <wsdl:input name="PayRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="PayResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Query">
            <soap:operation soapAction="CreditService/Query" style="document"/>
            <wsdl:input name="QueryRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="QueryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CreditService">
        <wsdl:port binding="tns:CreditService_Soap" name="CreditService_Soap">
            <soap:address location="http://localhost:8080/gvaxis2/services/CreditService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>