gvesb-parent/build-release/base/GreenV/xmlconfig/xsds/ValidateXML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="list">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="element" type="element" minOccurs="0" maxOccurs="5"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="element">
    <xs:sequence>
      <xs:element name="child1" type="xs:string"/>
      <xs:element name="child2" type="xs:string"/>
      <xs:element name="child3" type="xs:string" minOccurs="0" maxOccurs="2"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
