tags/GVESB_3_3_2_FINAL/gvconsole/src/main/resources/max/documents/document_history.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by aaa (tim) -->
<!--DTD generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<!ELEMENT author (#PCDATA)>
<!ELEMENT data (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT document-history (name, label, description, version+)>
<!ELEMENT label (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT notes (#PCDATA)>
<!ELEMENT permission (#PCDATA)>
<!ELEMENT version (author, notes, data, permission)>
<!ATTLIST version
	id CDATA #REQUIRED
>
