tags/GVESB_3_3_5_FINAL/build-release/base/GreenV/xmlconfig/wsdl/TOUPPER_WSS.wsdl

<?xml version="1.0" encoding="UTF-8"?>


<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.greenvulcano.it/greenvulcano"
                  xmlns:gv="http://www.greenvulcano.it/greenvulcano"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified"
                    targetNamespace="http://www.greenvulcano.it/greenvulcano"
                    xmlns="http://www.w3.org/2001/XMLSchema"
                    xmlns:gv="http://www.greenvulcano.it/greenvulcano"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="toupper">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="str" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="toupperResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="resultUp" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="toupperResponse">
        <wsdl:part element="gv:toupperResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="toupperRequest">
        <wsdl:part element="gv:toupper" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="TOUPPER_WSS_Soap">
        <wsdl:operation name="toupper">
            <wsdl:input message="gv:toupperRequest" name="toupperRequest"></wsdl:input>
            <wsdl:output message="gv:toupperResponse" name="toupperResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TOUPPER_WSS_Soap" type="gv:TOUPPER_WSS_Soap">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="toupper">
            <soap:operation soapAction="TOUPPER_WSS/toupper" style="document"/>
            <wsdl:input name="toupperRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="toupperResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TOUPPER_WSS">
        <wsdl:port binding="gv:TOUPPER_WSS_Soap" name="TOUPPER_WSS_Soap">
            <soap:address location="http://localhost:8080/gvaxis2/services/TOUPPER_WSS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>