build-release/base/GreenV/xmlconfig/wsdl/ExternalCreditService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.external-credit.com/services" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gv="http://www.greenvulcano.it/greenvulcano" xmlns:cred="http://www.external-credit.com/services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.external-credit.com/services" xmlns="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="Query">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cnumber" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="QueryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cnumber" type="xsd:string"/>
            <xsd:element name="active" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Pay">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="cnumber" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="amount" type="xsd:float"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PayResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="result" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PayRequest">
    <wsdl:part name="parameters" element="cred:Pay">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PayResponse">
    <wsdl:part name="parameters" element="cred:PayResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="QueryResponse">
    <wsdl:part name="parameters" element="cred:QueryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="QueryRequest">
    <wsdl:part name="parameters" element="cred:Query">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ExternalCreditServiceSoap">
    <wsdl:operation name="Query">
      <wsdl:input name="QueryRequest" message="cred:QueryRequest">
    </wsdl:input>
      <wsdl:output name="QueryResponse" message="cred:QueryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pay">
      <wsdl:input name="PayRequest" message="cred:PayRequest">
    </wsdl:input>
      <wsdl:output name="PayResponse" message="cred:PayResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExternalCreditServiceSoap" type="cred:ExternalCreditServiceSoap">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Query">
      <soap:operation soapAction="ExternalCreditService/Query" style="document"/>
      <wsdl:input name="QueryRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="QueryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pay">
      <soap:operation soapAction="ExternalCreditService/Pay" style="document"/>
      <wsdl:input name="PayRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="PayResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExternalCreditService">
    <wsdl:port name="ExternalCreditServiceSoap" binding="cred:ExternalCreditServiceSoap">
      <soap:address location="http://127.0.0.1:8080/gvaxis2/secure/services/ExternalCreditService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
