trunk/gvesb-parent/build-release/base/GreenV/xmlconfig/wsdl/GreenVulcanoWebservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.greenvulcano.it/greenvulcano"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:gv="http://www.greenvulcano.it/greenvulcano"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://www.greenvulcano.it/greenvulcano"
            xmlns:gv="http://www.greenvulcano.it/greenvulcano"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">

            <xsd:simpleType name="TypeID">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[0-9A-F]{24}"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="TypeObject">
                <xsd:choice>
                    <!-- converted to java.lang.String by Greenvulcano -->
                    <xsd:element name="Text" type="xsd:string"/>
                    <!-- converted to byte[] by Greenvulcano -->
                    <xsd:element name="Binary" type="xsd:base64Binary"/>
                </xsd:choice>
            </xsd:complexType>

            <xsd:complexType name="TypeProperty">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="value" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="TypeBuffer">
                <xsd:sequence>
                    <xsd:element name="service" type="xsd:string"/>
                    <xsd:element name="system" type="xsd:string"/>
                    <!-- if not defined in input, is generated by Greenvulcano -->
                    <xsd:element name="id" type="gv:TypeID" minOccurs="0"/>
                    <!-- if not defined in input, is set to 0 by Greenvulcano -->
                    <xsd:element name="retCode" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="object" type="gv:TypeObject" minOccurs="0"/>
                    <xsd:element name="property" type="gv:TypeProperty" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="requestReply" type="gv:TypeBuffer"/>
            <xsd:element name="requestReplyResponse" type="gv:TypeBuffer"/>

            <xsd:element name="request" type="gv:TypeBuffer"/>
            <xsd:element name="requestResponse"/>

            <xsd:element name="getReply" type="gv:TypeBuffer"/>
            <xsd:element name="getReplyResponse" type="gv:TypeBuffer"/>

            <xsd:element name="getRequest" type="gv:TypeBuffer"/>
            <xsd:element name="getRequestResponse" type="gv:TypeBuffer"/>

            <xsd:element name="sendReply" type="gv:TypeBuffer"/>
            <xsd:element name="sendReplyResponse"/>

            <xsd:element name="execute">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="gv:TypeBuffer">
                            <xsd:sequence>
                                <xsd:element name="operation" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="executeResponse" type="gv:TypeBuffer"/>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="requestReplyRequest">
        <wsdl:part element="gv:requestReply" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="requestReplyResponse">
        <wsdl:part element="gv:requestReplyResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="requestRequest">
        <wsdl:part element="gv:request" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="requestResponse">
        <wsdl:part element="gv:requestResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getReplyRequest">
        <wsdl:part element="gv:getReply" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getReplyResponse">
        <wsdl:part element="gv:getReplyResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getRequestRequest">
        <wsdl:part element="gv:getRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getRequestResponse">
        <wsdl:part element="gv:getRequestResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="sendReplyRequest">
        <wsdl:part element="gv:sendReply" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="sendReplyResponse">
        <wsdl:part element="gv:sendReplyResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="executeRequest">
        <wsdl:part element="gv:execute" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="executeResponse">
        <wsdl:part element="gv:executeResponse" name="parameters"/>
    </wsdl:message>

    <wsdl:portType name="GreenVulcanoWebservice">
        <wsdl:operation name="requestReply">
            <wsdl:input message="gv:requestReplyRequest"/>
            <wsdl:output message="gv:requestReplyResponse"/>
        </wsdl:operation>
        <wsdl:operation name="request">
            <wsdl:input message="gv:requestRequest"/>
            <wsdl:output message="gv:requestResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getReply">
            <wsdl:input message="gv:getReplyRequest"/>
            <wsdl:output message="gv:getReplyResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getRequest">
            <wsdl:input message="gv:getRequestRequest"/>
            <wsdl:output message="gv:getRequestResponse"/>
        </wsdl:operation>
        <wsdl:operation name="sendReply">
            <wsdl:input message="gv:sendReplyRequest"/>
            <wsdl:output message="gv:sendReplyResponse"/>
        </wsdl:operation>
        <wsdl:operation name="executeReply">
            <wsdl:input message="gv:executeRequest"/>
            <wsdl:output message="gv:executeResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="GreenVulcanoWebservice_Soap" type="gv:GreenVulcanoWebservice">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="requestReply">
            <soap:operation soapAction="GreenVulcanoWebservice/requestReply" style="document"/>
            <wsdl:input name="requestReplyRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="requestReplyResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="request">
            <soap:operation soapAction="GreenVulcanoWebservice/request" style="document"/>
            <wsdl:input name="requestRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="requestResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getReply">
            <soap:operation soapAction="GreenVulcanoWebservice/getReply" style="document"/>
            <wsdl:input name="getReplyRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getReplyResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRequest">
            <soap:operation soapAction="GreenVulcanoWebservice/getRequest" style="document"/>
            <wsdl:input name="getRequestRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getRequestResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendReply">
            <soap:operation soapAction="GreenVulcanoWebservice/sendReply" style="document"/>
            <wsdl:input name="sendReplyRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sendReplyResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute">
            <soap:operation soapAction="GreenVulcanoWebservice/execute" style="document"/>
            <wsdl:input name="executeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="executeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="GreenVulcanoWebservice_Soap12" type="gv:GreenVulcanoWebservice">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="requestReply">
            <soap12:operation soapAction="GreenVulcanoWebservice/requestReply" style="document"/>
            <wsdl:input name="requestReplyRequest">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="requestReplyResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="request">
            <soap12:operation soapAction="GreenVulcanoWebservice/request" style="document"/>
            <wsdl:input name="requestRequest">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="requestResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getReply">
            <soap12:operation soapAction="GreenVulcanoWebservice/getReply" style="document"/>
            <wsdl:input name="getReplyRequest">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getReplyResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRequest">
            <soap12:operation soapAction="GreenVulcanoWebservice/getRequest" style="document"/>
            <wsdl:input name="getRequestRequest">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getRequestResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendReply">
            <soap12:operation soapAction="GreenVulcanoWebservice/sendReply" style="document"/>
            <wsdl:input name="sendReplyRequest">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sendReplyResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute">
            <soap12:operation soapAction="GreenVulcanoWebservice/execute" style="document"/>
            <wsdl:input name="executeRequest">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="executeResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="GreenVulcanoWebservice">
        <wsdl:port binding="gv:GreenVulcanoWebservice_Soap" name="GreenVulcanoWebservice_Soap">
            <soap:address location="http://localhost:8080/gvaxis2/services/GreenVulcanoWebservice"/>
        </wsdl:port>

        <wsdl:port binding="gv:GreenVulcanoWebservice_Soap12" name="GreenVulcanoWebservice_Soap12">
            <soap12:address location="http://localhost:8080/gvaxis2/services/GreenVulcanoWebservice"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>