tags/GVESB_3_3_4_FINAL/build-release/base/GreenV/xmlconfig/xsds/GreenVulcanoWebservice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified"
    targetNamespace="http://www.greenvulcano.it/greenvulcano"
    xmlns:gv="http://www.greenvulcano.it/greenvulcano"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:simpleType name="TypeID">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9A-F]{24}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="TypeObject">
        <xsd:choice>
            <!-- converted to java.lang.String by Greenvulcano -->
            <xsd:element name="Text" type="xsd:string"/>
            <!-- converted to byte[] by Greenvulcano -->
            <xsd:element name="Binary" type="xsd:base64Binary"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="TypeProperty">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="value" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TypeBuffer">
        <xsd:sequence>
            <xsd:element name="service" type="xsd:string"/>
            <xsd:element name="system" type="xsd:string"/>
            <!-- if not defined in input, is generated by Greenvulcano -->
            <xsd:element name="id" type="gv:TypeID" minOccurs="0"/>
            <!-- if not defined in input, is set to 0 by Greenvulcano -->
            <xsd:element name="retCode" type="xsd:int" minOccurs="0"/>
            <xsd:element name="object" type="gv:TypeObject" minOccurs="0"/>
            <xsd:element name="property" type="gv:TypeProperty" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="requestReply" type="gv:TypeBuffer"/>
    <xsd:element name="requestReplyResponse" type="gv:TypeBuffer"/>

    <xsd:element name="request" type="gv:TypeBuffer"/>
    <xsd:element name="requestResponse"/>

    <xsd:element name="getReply" type="gv:TypeBuffer"/>
    <xsd:element name="getReplyResponse" type="gv:TypeBuffer"/>

    <xsd:element name="getRequest" type="gv:TypeBuffer"/>
    <xsd:element name="getRequestResponse" type="gv:TypeBuffer"/>

    <xsd:element name="sendReply" type="gv:TypeBuffer"/>
    <xsd:element name="sendReplyResponse"/>

    <xsd:element name="execute">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="gv:TypeBuffer">
                    <xsd:sequence>
                        <xsd:element name="operation" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="executeResponse" type="gv:TypeBuffer"/>

</xsd:schema>